@media (max-width: 1200px)
  .header
    &-container
      max-width: 900px
  .banner
    &-container
      width: 100%
    &-wrapper      
      max-width: 992px
  .collection
    &-container
      max-width: 80%
    &-image
      width: 57%
  .trending
    &-container
      max-width: 950px
  .card
    &-item
      &__image
        width: 234px
        height: 310px
      &__more
        width: 234px
        height: 310px
  .stories
    &-container
      max-width: 985px
    &-card
      min-width: 300px
      margin-right: 5px
      &__image
        width: 290px
        max-height: 317px
  .newsletter
    &-wrapper
      justify-content: center
      margin-left: 0px
    &-info
      margin-right: 40px
  .footer
    &-container
      padding: 128px 40px 80px 20px
    &-menu
      &__column
        margin-right: 5px

@media (max-width: 992px)
  .header
    &-container
      max-width: 650px
      padding: 0
      margin-top: 8px
      margin-bottom: 30px
  .navbar
    &-menu
      &__link
        &:hover
          color: inherit
      &__primary
        padding: 13px 14px
        &:hover
          background-color: #ffffff
      &__item
        margin-right: 20px
  .banner
    &-wrapper
      background-image: url(../img/header-image-768.jpg)
      max-width: 728px
      min-height: 624px

    &-info
      margin-left: 28px
      margin-top: 36px
      margin-bottom: 36px
    &-text
      &__subtitle
        margin-bottom: 24px
      &__title
        font-size: 48px
        margin-bottom: 20px
      &__description
        width: 400px
        margin-bottom: 36px
        font-size: 18px
        line-height: 32px
    &__button
      margin-bottom: 40px
      &:hover
        background-color: $primary
  .advantages
    &__text
      margin-right: 20px
  .collection
    padding-top: 70px
    padding-bottom: 80px
    &-container
      flex-direction: column
    &-image
      width: 100%
      justify-content: center
    &-info
      display: flex
      flex-direction: column
      align-items: center
      &__text
        margin-top: 40px
      &__description
        max-width: 672px
        margin-bottom: 30px
      &__check
        &:hover
          color: $blue
  .trending
    &-container
      padding-bottom: 80px
      max-width: 608px
    &-info
      flex-direction: column
      align-items: center
      margin-bottom: 5px
      &__text
        margin-bottom: 28px
  .card
    &-item
      &__image
        width: 280px
        height: 350px
      &__more
        width: 280px
        height: 350px
  .stories
    &-container
      max-width: 728px
      flex-direction: column
      align-items: center
      padding-top: 80px
    &-info
      align-items: center
      &__subtitle
        margin-bottom: 24px
      &__title
        max-width: 100%
        margin-bottom: 16px
      &__description
        text-align: center
        max-width: 510px
        margin-bottom: 36px
      &__button
        margin-bottom: 36px
        margin-right: 9px
        margin-left: 7px
        &:hover
          border: 2px solid #959EAD
          color: #959EAD
      &__icon
        &:hover
          fill: #959EAD
    &-slider
      justify-content: center
      align-items: center
      max-width: 100%
      &__item
        width: 100%
        justify-content: center
        align-items: center
    &-card
      min-width: 250px
      margin-right: 18px
      &__image
        width: 312px
        max-height: 317px    
      &__info
        width: 312px   
      &__link
        &:hover
          color: $blue
  .newsletter
    padding-top: 72px
    padding-bottom: 80px
    height: 402px
    margin-top: 80px
    &-wrapper
      flex-direction: column
      align-items: center
    &-info
      margin-right: 0
    &__title
      text-align: center
      margin-bottom: 14px
    &__description
      text-align: center
      margin-bottom: 56px
  .subscribe
    &__button
      &:hover
        background-color: $primary
  .subscribe
    display: flex
    align-items: center
  .footer
    &-info
      width: 253px
      margin-right: 0
    &-container
      padding: 64px 68px 16px 59px
    &-menu
      flex-wrap: wrap
      &__column
        margin-right: 0
        margin-left: 28px
        margin-bottom: 31px
    &-block
      margin-bottom: 9px
@media (max-width: 768px)
  body
    padding-top: 102px
  .header
    &-container
      max-width: 650px
      height: 64px
      padding: 0
      margin-top: 8px
      margin-bottom: 30px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99
    &-menu
      display: none
    &__menu
      &-button
        display: flex
        width: 22px
        height: 18px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: #fff
        cursor: pointer
  .menu
    &-button
      &__line
        width: 22px
        height: 2.2px
        background-color: #3A4C66
  .banner
    &-wrapper
      height: 624px
  .collection
    &-container
      max-width: 672px
    &-info
      align-items: start
      margin-left: 0
    &-image
      &__right
        height: 490px
  .tabs
    &__item
      margin-right: 40px
      margin-left: 0
      &--up
        margin-right: 0
  .card
    &-item
      &-price
        margin-left: 7px
      &__cart
        margin-right: 10px
      &__title
        margin-left: 10px
  .reviews
    &-container
      max-width: 630px
    &-slider
      &__item
        margin-bottom: 27px
      &__logo
        margin-bottom: 6px
      &__description
        max-width: 613px
        margin: 0 0 35px 0
  .stories
    &-card
      min-width: 340px
      margin-right: 0
      margin-left: 12px
      &__info
        width: 94%
@media ( max-width: 700px )
  .stories
    &-card
      min-width: 300px
      margin-right: 10px
      margin-left: 10px
    // &-slider
    //   max-width: 95%
    // &-card
    //   &__text
    //     font-size: 20px
    //     line-height: 24px
    //   &__link
    //     font-size: 16px
    //     line-height: 22px
@media ( max-width: 650px )
  .header
    &-container
      max-width: 500px
  .banner
    &-wrapper
      max-width: 570px
  .collection
    &-container
      max-width: 540px
    &-image
      justify-content: start
      &__right
        height: 403px
      &__big
        width: 260px
        height: 403px
      &__little
        width: 250px
        height: 185px
  .trending
    &-container
      max-width: 570px
  .reviews
    &-container
      max-width: 570px
  .stories
    &-card
      min-width: 270px
  // .stories
  //   &-slider
  //     max-width: 95%
  //   &-card
  //     &__text
  //       font-size: 20px
  //       line-height: 24px
  //     &__link
  //       font-size: 16px
  //       line-height: 22px
  .footer
    &-block
      flex-direction: column-reverse
      align-items: center
    &-info
      align-items: center
      &__text
        text-align: center
    &-copyright
      display: none
@media ( max-width: 576px )
  .header
    &-container
      max-width: 400px
      margin-bottom: 24px
  .banner
    &-wrapper
      max-width: 470px
  .advantages
    &__text 
      margin-right: 15px
  .collection
    &-container
      max-width: 470px
  .trending
    &-container
      padding-bottom: 48px
      max-width: 470px

  .cards
    justify-content: center
  .reviews
    &-container
      max-width: 470px
  .stories
    &-slider
      &__item
        flex-direction: column
    &-card
      margin-bottom: 24px
  .newsletter
    &__description
      max-width: 470px
  .footer
    &-container
      padding: 48px 10px 64px 24px
    &-menu
      &__column
        width: 50%
        margin-bottom: 27px
        margin-left: 0
        margin-right: 0px
      &__title
        font-size: 16px
        line-height: 22px
      &__items
        font-size: 14px
        line-height: 20px
      &__item
        margin-top: 16px
    &-info
      &__text
        font-size: 14px
        line-height: 24px
        margin-bottom: 20px
      &__logo
        margin-bottom: 20px
    &-social
      &__image
        margin-right: 3px
@media ( max-width: 480px )
  body 
    padding-top: 88px
  .header
    &-container
      max-width: 272px
      height: 64px
      margin-top: 0px
  .banner
    &-wrapper
      background-image: url(../img/header-image-320.jpg)
      background-position: top
      margin-left: 0
      margin-right: 0
      width: 100%
      height: 884px
      border-radius: 0
      max-width: 480px
    &-info
      display: flex
      text-align: center
      flex-direction: column
      margin-top: 381px
      margin-bottom: 20px
      margin-left: 20px
      margin-right: 20px
    &-text
      &__subtitle
        margin: auto
        margin-bottom: 24px
        width: 198px
        padding-left: 26px
        padding-right: 26px
      &__title
        font-size: 32px
        line-height: 40px
        margin-bottom: 20px
      &__description
        text-align: center
        width: 100%
        margin-bottom: 24px
        font-size: 16px
        line-height: 28px
    &__button
      margin: auto
      max-width: 233px
      font-size: 16px
      line-height: 22px
      padding: 13px 24px
      margin-bottom: 22px
  .advantages
    flex-wrap: wrap
    justify-content: center
    max-width: 320px
    margin: auto
    &__item
      margin-bottom: 16px
    &__icon
      width: 25px
      height: 25px
    &__text
      font-size: 16px
      line-height: 20px
      margin-right: 16px
  .collection
    padding-top: 73px
    padding-bottom: 64px
    &-container
      align-items: center

    &-image
      width: auto
      flex-direction: column
      height: 411px
      &__right
        flex-direction: row
        margin-left: 0
      &__left
        display: flex
        justify-content: center
        margin-bottom: 14px
      &__big
        width: 290px
        height: 300px
      &__little
        width: 138px
        height: 97px
    &-info
      align-items: center
      margin-left: 0
      &__text
        margin-bottom: 16px
        text-align: center
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 36px
      &__description
        max-width: 280px
        text-align: center
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 28px
      &__button
        display: flex
      &__check
        font-size: 16px
        line-height: 22px
      &__icon
        padding-top: 3px
        margin-left: 30px
  .trending
    &-container
      max-width: 290px
      padding-bottom: 36px
    &-info
      margin-bottom: 17px
      &__text
        font-size: 28px
        line-height: 36px
        margin-bottom: 22px
  .tabs
    &__item
      font-size: 16px
      line-height: 22px
      margin-right: 15px
      margin-left: 0
      &--up
        margin-right: 0!important
  .cards
    justify-content: space-between
  .card
    &-item 
      min-height: 234px
      margin-top: 20px
      &-price
        margin-left: 0
      &__more 
        width: 140px
        height: 170px
        &-text
          font-size: 20px
          line-height: 24px
        &-image
          width: 25px
          height: 32px
          margin-bottom: 21px
      &__title
        margin-left: 0
      &-price
        font-size: 14px
        line-height: 24px
        margin-right: 9px
      &__price
        &-block
          justify-content: start
          align-items: center
      &__image
        width: 140px
        height: 170px
        margin-bottom: 13px
      &__title
        font-size: 16px
        line-height: 20px
        margin-bottom: 0
      &__cart
        width: 14px
        height: 32px
  .reviews
    &-container
      max-width: 310px
      padding-bottom: 64px
    &-slider
      &__logo
        width: 70px
        height: 81px
        margin-bottom: 13px
        margin-left: 10px
        margin-top: 4px
      &__description
        font-size: 18px
        line-height: 36px
        margin-bottom: 24px
      &__author
        display: flex
        margin: auto
        font-size: 20px
        line-height: 24px
        max-width: 180px
      &__item
        width: 269px
        margin-bottom: 10px
  .stories
    &-container
      max-width: 100%
      padding-top: 42px
    &-info
      &__title
        font-size: 28px
        line-height: 36px
      &__description
        max-width: 87.5%
        font-size: 16px
        line-height: 28px
      &__button
        width: 48px
        height: 48px
        padding: 16px
        margin-bottom: 22px
        margin-right: 5px
        &-wrapper
          align-content: center
      &__icon
        width: 13px
        height: 16px
    &-slider
      max-width: 280px
      &__item
        flex-direction: column
    &-card
      min-width: 100%
      margin-right: 0
      margin-bottom: 24px
      margin-left: 2px
      &__image
        width: 270px
        height: 277px
      &__info
        width: 270px
        min-height: 150px
      &__text
        font-size: 20px
        line-height: 24px
      &__link
        font-size: 16px
        line-height: 22px
  
  .newsletter
    height: 414px
    padding-top: 64px
    padding-bottom: 64px
    margin-top: 42px
    &-info
      align-items: center
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &__description
      max-width: 87.5%
      font-size: 16px
      line-height: 28px
      margin-bottom: 36px
  .subscribe
    position: static
    flex-direction: column
    width: 280px
    height: 48px
    &__button
      position: static
      min-width: 280px
      padding: 11px 24px
      border-radius: 8px
      margin: 10px 0 0 0
  .footer
    &-info
      margin-right: 14px
      margin-top: 2px
      &__logo
        margin-bottom: 15px
@media ( max-width: 321px )
  .reviews
    &-container
      max-width: 280px

      


      
// @media (max-width: 768px) and (orientation: landscape)
