@font-face
  font-family: "HKGrotesk-500"
    src : url("../fonts/HKGrotesk-Regular.woff") format("woff")
    src : url("../fonts/HKGrotesk-Regular.woff2") format("woff2")
  font-weight: normal
  font-style: normal
@font-face
  font-family: "HKGrotesk-900"
    src : url("../fonts/HKGrotesk-Bold.woff") format("woff")
    src : url("../fonts/HKGrotesk-Bold.woff2") format("woff2")
  font-weight: normal
  font-style: normal
body
  font-family: 'Open Sans', sans-serif
